@import "../../../global.css";

.product-page {
  /* padding-top: 80px;
  padding-bottom: 120px; */
  padding: 50px 20% 80px;
  gap: 80px;
}

.product-page > .product-wrapper {
  gap: 6%;
  text-align: center;
}

.left-section > img {
  height: 78vh;
  width: 32vw;
  object-fit: cover;
  object-position: center;
  border: 1px solid var(--global-color-secondary-gray);
}

.right-section {
  text-align: left;
  width: 100%;
  gap: 3px;
}

.add-to-cart-btn {
  border-width: 1px;
  width: 100%;
  background-color: var(--global-color-primary-orange);
  border-color: var(--global-color-primary-orange);
  color: var(--global-color-primary-white);
}

.add-to-cart-btn:disabled:hover {
  background-color: var(--global-color-primary-orange);
}

.add-to-cart-btn:hover {
  background-color: var(--global-color-secondary-orange);
  color: white;
}

.right-section > .price-before-sale {
  text-decoration: line-through;
  color: var(--global-color-secondary-gray);
}

.product-page .price-after-sale {
  color: var(--global-color-danger);
}

.recommendation-items {
  text-align: center;
}

.items-wrapper > .product-wrapper {
  padding: 15px;
  width: 30%;
  box-sizing: border-box;
  border: 1px solid var(--global-color-secondary-gray);
  box-shadow: 1px 1px 4px 2px var(--global-color-light-gray);
  background-color: var(--global-color-primary-white);
  text-align: left;
}

.items-wrapper > .product-wrapper:hover {
  border-color: var(--global-color-primary-orange);
  box-shadow: 1px 1px 4px 2px var(--global-color-primary-orange);
}

.items-wrapper > .product-wrapper > .card-content {
  flex: 1;
  justify-content: space-between;
  gap: 7px;
}

.items-wrapper > .product-wrapper > .image-container {
  height: 240px;
  margin-bottom: 15px;
  width: 100%;
}

.items-wrapper > .product-wrapper > .image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.items-wrapper {
  justify-content: center;
  padding-top: 40px;
  gap: 5%;
}

.stars {
  --percent: calc(var(--rating) / 10 * 100%);
  display: inline-block;
  font-size: 40px;
  font-family: Times;
  line-height: 1;
}
.stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--global-color-primary-orange) var(--percent),
    var(--global-color-light-gray) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.recommendation-items > .reload-btn {
  margin: 0px auto 100px auto;
  width: fit-content;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid var(--global-color-secondary-gray);
  gap: 20px;
  box-shadow: 1px 1px 4px 2px var(--global-color-light-gray);
  position: relative;
  transition-duration: 0.2s;
}

.recommendation-items > .reload-btn:hover {
  border-color: var(--global-color-secondary-gray);
  box-shadow: 0px 0px 2px 0px var(--global-color-primary-gray);
}

.reload-btn > a {
  transition-duration: 0.3s;
}

.reload-btn > a:hover {
  color: var(--global-color-primary-orange);
}

/* Arrow at the top of the box */
.popup-dialog-box::before {
  content: " ";
  position: absolute;
  right: 30px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid var(--global-color-primary-orange);
}

.popup-dialog-box:nth-of-type(1) {
  right: 50%;
}

.popup-dialog-box:nth-of-type(2) {
  left: 15%;
}

.popup-dialog-box:nth-of-type(2)::before {
  right: 73%;
}

.popup-dialog-box:nth-of-type(3) {
  left: 40%;
}
