@import "../../../global.css";

.cart-page {
  gap: 30px;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--global-color-light-gray);
}

.cart-page > .left-section {
  background-color: var(--global-color-primary-white);
  flex: 1;
  padding: 30px 40px;
  text-align: left;
  border-radius: 10px;
}

.cart-page > .right-section {
  background-color: var(--global-color-primary-white);
  width: 350px;
  min-width: 300px;
  padding: 30px;
  height: fit-content;
  border-radius: 10px;
  position: sticky;
  top: calc(var(--navbar-height) + 20px);
}

.cart-page .order-wrapper {
  gap: 35px;
  padding: 25px 0;
}

.cart-page .order-wrapper > .product-img {
  width: 130px;
  height: 150px;
}

.cart-page .order-wrapper > .product-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cart-page .detail-wrapper {
  gap: 5px;
}

.cart-page .order-wrapper .delete-button,
.modal-item .close-button {
  width: fit-content;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  border: none;
  border: 1px solid var(--global-color-primary-gray);
  background: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

.order-wrapper .bottom-section {
  gap: 8px;
}

.order-wrapper .price-after-sale {
  color: var(--global-color-danger);
}

.bottom-section > span,
.bottom-section > label {
  margin: auto 0;
}

.order-container > .separator-line {
  border-width: 1px;
}

.order-container > .separator-line:last-of-type {
  display: none;
}

.right-section > table td {
  padding: 7px 0px;
}

.right-section > table td:nth-of-type(2) {
  text-align: right;
}

.right-section > .global-button,
.modal-item .global-button {
  padding: 5px unset;
  border-width: 1px;
  background-color: var(--global-color-primary-orange);
  border-color: var(--global-color-primary-orange);
  color: var(--global-color-primary-white);
}

.right-section > .global-button:hover,
.modal-item .global-button:hover {
  background-color: var(--global-color-secondary-orange);
}

.right-section > .global-button:disabled:hover {
  background-color: var(--global-color-primary-orange);
}

.modal-item .global-button {
  width: 60%;
}

.modal-item .global-button-secondary {
  padding: 5px unset;
  border-width: 1px;
  color: var(--global-color-primary-text);
  background: none;
  width: 35%;
}

.checkout-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 100;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

.checkout-modal > .modal-item {
  width: 23vw;
  height: auto;
  border-radius: 10px;
  justify-content: center;
  align-items: flex-start;
  opacity: 1;
  padding: 25px;
  background-color: white;
  z-index: 2;
  box-shadow: 0 0 10px 2px var(--global-color-primary-gray);
}

.modal-item > .global-button {
  width: 200px;
}
