@import url("../../../global.css");

:root {
  --slideshow-image-height: 510px;
}

/* Header */
header.banner {
  height: fit-content;
  width: 100%;
  margin-bottom: 60px;
}

/* Slidshow */
/* Slideshow container */
.slideshow-container {
  position: relative;
  z-index: -2;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides > img {
  width: 100%;
  height: var(--slideshow-image-height);
  object-fit: cover;
  object-position: top;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: calc(var(--slideshow-image-height) * 0.6);
  width: auto;
  /* margin-top: -22px; */
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 5px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 20px;
}

.prev {
  left: 20px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.mySlides > .text {
  font-size: 2em;
  padding: 0px 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  text-align: center;
  border-radius: 10px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* end of code for slideshow */

/* Body */
.content {
  margin-bottom: 120px;
}

.home > div {
  justify-content: space-between;
  margin-bottom: 40px;
}

.home > div > div > hr {
  margin-left: 0;
  margin-bottom: 0px;
}

.product-wrapper.hover-transition {
  transition: ease-out 0.3s;
}

.product-list:nth-of-type(1) > .product-wrapper.hover-animation:hover {
  transform: none;
  text-decoration: underline;
}

.product-list:nth-of-type(2) > .product-wrapper.hover-animation:hover {
  box-shadow: 0px 0px 6px 3px var(--global-color-primary-orange);
  transform: none;
}

.home .global-button:hover {
  text-decoration: underline;
}

.product-list {
  width: 100%;
  margin-bottom: 100px;
  height: max-content;
  gap: 40px;
  overflow-y: hidden;
}

.product-wrapper {
  padding: 20px 15px;
  box-sizing: border-box;
  border: 1px solid var(--global-color-primary-text);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.253);
  background-color: var(--global-color-primary-white);
}

.product-wrapper > .card-content {
  flex: 1;
  justify-content: space-between;
  gap: 10px;
}

.product-wrapper > .image-container {
  height: 180px;
  width: 240px;
}

.product-list:nth-of-type(1) {
  gap: 0;
}

.product-list:nth-of-type(1) > .product-wrapper {
  padding: 25px;
  border-right: none;
  box-shadow: none;
}

.product-list:nth-of-type(2) > .product-wrapper {
  padding: 20px;
}

.product-list:nth-of-type(1) > .product-wrapper:nth-last-of-type(1) {
  border-right: 1px solid var(--global-color-primary-text);
}

.product-list:nth-of-type(2) {
  gap: 15px;
}

.product-list:nth-of-type(2) > .num-indicator {
  font-size: 8rem;
  color: var(--global-color-secondary-gray);
  margin-top: auto;
  margin-bottom: 10px;
  margin-right: -40px;
  line-height: 7rem;
}

.product-list:nth-of-type(3) > .product-wrapper {
  border: none;
  box-shadow: none;
}

.product-list:nth-of-type(3) > .product-wrapper > .image-container {
  width: 200px;
  height: 140px;
}

.featured-brands {
  align-self: center;
}

.brands-wrapper {
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.brands-wrapper > img {
  width: 100px;
}
