/* ======================== Global CSS ===================== */

:root {
  /* Page Configs */
  --root-margin: 0;
  --root-padding: 0;

  /* desktop */
  --body-padding-horizontal: 120px;
  --body-padding-vertical: 10px;
  /* mobile */

  /* Component Configs */
  --global-color-primary-gray: #636363;
  --global-color-secondary-gray: #c4c4c4;
  --global-color-light-gray: #dbdbdb;
  --global-color-primary-black: #000000;
  --global-color-primary-white: #ffffff;

  --global-color-primary-text: #646464;
  --global-color-primary-pink: #f9f3df;
  --global-color-secondary-pink: #f5cac2;
  --global-color-primary-orange: #ed7966;
  --global-color-secondary-orange: #d1523f;

  --global-color-success: #2fe739;
  --global-color-warning: #e08c26;
  --global-color-danger: #ff0000;

  /* Font Configurations */
  --global-font-family: Verdana, sans-serif;
  --global-icon-size: 1.4rem;
  --global-text-color: #222;
  --global-primary-title-size: 2rem;
}

/* global wrappers */
body {
  margin: var(--root-margin);
  padding: var(--root-padding);

  font-family: var(--global-font-family);
}

a {
  color: unset;
  text-decoration: none;
}

.global-content-wrapper {
  padding: 0px var(--body-padding-horizontal);
  box-sizing: border-box;
}

.global-flex-column-wrapper {
  display: flex;
  flex-direction: column;
}

.global-padding-horizontal {
  box-sizing: border-box;
  padding-left: var(--body-padding-horizontal);
  padding-right: var(--body-padding-horizontal);
}

.global-flex-row-wrapper {
  display: flex;
  flex-direction: row;
}

.global-content-typography-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--global-color-primary-text);
}

.global-content-typography-subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--global-color-primary-text);
}

.global-content-typography-text {
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.4em;
  color: var(--global-color-primary-text);
}

.global-content-typography-subtext {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--global-color-primary-text);
}

.global-horizontal-line {
  border: 2px solid var(--global-color-primary-orange);
  border-radius: 20px;
}

.global-button {
  color: var(--global-color-primary-text);
  padding: 8px 15px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid var(--global-color-primary-text);
  cursor: pointer;
  font-size: 1.05rem; /* same size as text */
}

.global-button:hover {
  color: var(--global-color-primary-orange);
}

/* animations */
.hover-transition {
  transition: ease-out 0.4s;
}

.hover-animation:hover {
  filter: brightness(0.7);
}

/* Inputs */

input[type="checkbox"] {
  margin-top: 5px;
  transform: scale(1.2);
}

input[type="text"],
textarea {
  padding: 5px;
  border: 1px solid var(--global-color-primary-gray);
  transition-duration: 0.3s;
  outline: none;
  transition-property: border-color;
  box-sizing: border-box;
}

input[type="text"]:focus,
textarea:focus {
  border-color: var(--global-color-primary-orange);
}

.input-danger {
  border: 1px solid var(--global-color-danger) !important;
  box-shadow: inset 0px 0px 0px 3px var(--global-color-danger);
}

/* ========================== NavBar =============================== */
nav {
  background-color: var(--global-color-primary-white);

  position: sticky;
  top: 0;

  width: 100%;
  height: 80px;

  align-items: center;
  justify-content: space-between;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

nav img {
  width: 230px;
  height: auto;
}

nav > section {
  gap: 50px;
}

nav > section > a {
  text-decoration: none;

  color: var(--global-color-primary-text) !important;
}

nav > section > a:hover {
  color: var(--global-color-primary-orange) !important;
}

/* =========================== Footer =============================== */
footer {
  background-color: var(--global-color-primary-gray);

  width: 100%;
  min-height: 250px;
  height: max-content;

  align-items: start;
}

footer img {
  width: 280px;
  height: auto;
}

footer > div.top-content {
  width: 100%;

  gap: 25px;
  justify-content: space-between;

  padding-top: calc(var(--body-padding-vertical) * 4);
  padding-bottom: calc(var(--body-padding-vertical) * 4);
  box-sizing: border-box;
}

footer > div.top-content > section {
  width: max-content;
  max-width: 350px;
}

footer > div.top-content > section > header {
  color: var(--global-color-primary-white);
  margin-bottom: 20px;
}

footer > div.top-content > section > span {
  margin-bottom: 10px;
  color: var(--global-color-secondary-gray);
}

footer > div.top-content > section > span > a {
  color: var(--global-color-secondary-gray);
  text-decoration: none;
}

footer > div.top-content > section > span > a:hover {
  color: var(--global-color-primary-white);
  text-decoration: underline;
}

footer > div.bottom-content {
  color: var(--global-color-primary-white);

  width: 100%;
  padding: calc(var(--body-padding-vertical) * 3) 40px
    calc(var(--body-padding-vertical) * 4.5);
  box-sizing: border-box;
  justify-content: space-between;

  border-top: 2px solid var(--global-color-primary-white);
}

footer > div.bottom-content > section > a {
  text-decoration: none;
  color: var(--global-color-primary-white);
  font-size: var(--global-icon-size);

  margin-left: 20px;
}

/* CSS for footer button animation */
footer .button {
  margin-top: 10px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
footer .button.learn-more {
  width: 12rem;
  height: auto;
}
footer .button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 1.625rem;
}
footer .button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #636363;
}
footer .button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
footer .button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.3rem;
  right: 0.05rem;
  width: 0.575rem;
  height: 0.575rem;
  border-top: 0.125rem solid #636363;
  border-right: 0.125rem solid #636363;
  transform: rotate(45deg);
}
footer .button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.7rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  text-transform: uppercase;
}
footer .button:hover .circle {
  width: 100%;
}
footer .button:hover .circle .icon.arrow {
  background: #636363;
  transform: translate(1rem, 0);
}
footer .button:hover .button-text {
  color: #636363;
}
