/* ======================== Global CSS ===================== */

:root {
  /* Page Configs */
  --root-margin: 0;
  --root-padding: 0;

  /* desktop */
  --body-padding-horizontal: 120px;
  --body-padding-vertical: 10px;
  /* mobile */

  /* Component Configs */
  --global-color-primary-gray: #636363;
  --global-color-secondary-gray: #c4c4c4;
  --global-color-primary-black: #000000;
  --global-color-primary-white: #ffffff;

  --global-color-primary-text: #636363;
  --global-color-primary-pink: #fae5df;
  --global-color-secondary-pink: #f5cac2;
  --global-color-primary-orange: #ed7966;
  --global-color-secondary-orange: #882314;

  --global-color-success: #2fe739;
  --global-color-warning: #e08c26;
  --global-color-danger: #cc2500;

  /* Font Configurations */
  --global-font-family: Verdana, sans-serif;
  --global-font-size: 0.8rem;
  --global-text-color: #222;
  --global-primary-title-size: 2rem;
}

/* global wrappers */
body {
  margin: var(--root-margin);
  padding: var(--root-padding);

  font-family: var(--global-font-family);
}

.global-content-wrapper {
  padding: 0px var(--body-padding-horizontal);
  box-sizing: border-box;
}

.global-flex-column-wrapper {
  display: flex;
  flex-direction: column;
}

.global-flex-row-wrapper {
  display: flex;
  flex-direction: row;
}

.global-content-typography-title {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--global-color-primary-text);
}

.global-content-typography-subtitle {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--global-color-primary-text);
}

.global-content-typography-text {
  font-size: 1em;
  font-weight: 500;
  color: var(--global-color-primary-text);
}

.global-content-typography-subtext {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--global-color-primary-text);
}

/* ========================== NavBar =============================== */
nav {
  background-color: var(--global-color-primary-white);

  width: 100%;
  height: 100px;

  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 280px;
  height: auto;
}

nav > section {
  gap: 50px;
}

nav > section > a {
  text-decoration: none;

  color: var(--global-color-primary-text) !important;
}

nav > section > a:hover {
  color: var(--global-color-primary-orange) !important;
}


/* =========================== Footer =============================== */
footer {
  background-color: var(--global-color-primary-gray);

  width: 100%;
  min-height: 380px;
  height: max-content;

  align-items: start;
}

footer img {
  width: 280px;
  height: auto;
}

footer > div.top-content {
  width: 100%;

  gap: 20px;
  justify-content: space-between;

  padding-top: calc(var(--body-padding-vertical) * 4);
  padding-bottom: calc(var(--body-padding-vertical) * 5);
  box-sizing: border-box;
}

footer > div.top-content > section {
  width: max-content;
  max-width: 320px;
}

footer > div.top-content > section > header {
  color: var(--global-color-primary-white);
  margin-bottom: 20px;
}

footer > div.top-content > section > span {
  margin-bottom: 10px;
  color: var(--global-color-secondary-gray);
}

footer > div.top-content > section > span > a {
  color: var(--global-color-secondary-gray);
  text-decoration: none;
}

footer > div.top-content > section > span > a:hover {
  color: var(--global-color-primary-white);
  text-decoration: underline;
}

footer > div.top-content > section > button {
  width: 200px;
  padding: 10px;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: var(--global-color-secondary-gray); 

  color: var(--global-color-primary-white);
  font-weight: 600;

  border: 0px;
  border-radius: 50px;

  transition: ease-in 0.04s;
}

footer > div.bottom-content {
  color: var(--global-color-primary-white);
  font-weight: 600;

  width: 100%;
  padding: calc(var(--body-padding-vertical) * 2) 40px;
  box-sizing: border-box;

  border-top: 2px solid var(--global-color-primary-white);
}
